* {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition: all .1s ease;
}

@font-face {
   font-family: BebasNeue;
   src: url(fonts/BebasNeue-Regular.woff);
}

:root {
  --main-color: #434244;
  --main-active-color:#DA3C78;
}

html, body {
  height: 100%;
    /* max-width: 100%;
    overflow-x: hidden; */
}

h1 {
  font-size: 64px;
}
h1,h3,h2,h4,h5,h6{
  font-family: BebasNeue;
}
.page-section {
  min-height: auto ;
  /* margin-top: 2%; */
  padding: 3em 3em 0em 3em;
  padding-top:0px;
  margin-top:1%;
  /* background: linear-gradient(45deg, #43cea2 10%, #185a9d 90%); */
  color: white;
  /* box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1); */

}

.justifyText
{
  text-align: justify;
}
.navigation {
  position: fixed;
margin-top:20px;

  /* background-color: #999; */
  color: var(--main-color);
  height: 100vh;
overflow: auto;
width: inherit;
padding-left: 40px;
}
.navigation__link {
  display: block;
  color: var(--main-color);;
  text-decoration: none;
  padding: 1em;
  font-weight: 400;
}
.navigation__link:hover {
  color:var(--main-active-color);
  text-decoration:none;
}
.navigation__link.active {
  color: var(--main-active-color);
  font-weight: bold;
  /* background-color: rgba(0, 0, 0, 0.1); */
}

.logo{

}

.logoHolder{
   background-image: url("images/nerdlab-cubeBlack1.png");
   background-size:contain;
}

.social
{
  color:var(--main-active-color);
  text-decoration:none;
  font-size: 2em;
}

.socialIcon
{
  color: var(--main-color);
}
.socialIcon:hover
{
  color:var(--main-active-color);
}

.navIcon
{
  margin-right:5px;
}

.lastSection
{
  margin-bottom:40px;
}

.projectName
{
  font-weight: bold;

}

.imgContainer{
  max-width:100%;
  max-height:55vh;
  margin-bottom:20px;
}

.headImage
{
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
}

.imgContainer
{
  height:70vh;
}

.page-section
{
  color:var(--main-color)!important;
}



        .flex-column {
            max-width: 260px;
        }

        .img-fluid {
            margin: 5px !important;
        }

        .scale {
            transform: scaleY(1.05);
            padding-top: 5px;
        }
.demoText
{
margin: auto;
}
.teamMemberPhoto
{

  border-radius: 50%;
  width:50%;

}
.teamMember
{
  background:#f9f9f9;
  text-align: center;
  padding-top:20px;
  padding-bottom:20px;
  margin-top:20px;
}


h2{
  text-align:center;
  padding: 20px;
}
/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/*
.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel .item {
	color: #999;
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 290px;
}
.carousel .item .img-box {
	width: 135px;
	height: 135px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {
	padding: 30px 0 10px;
}
.carousel .overview {
	font-style: italic;
}
.carousel .overview b {
	text-transform: uppercase;
	color: #7AA641;
}
.carousel .carousel-control {
	width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
	background: none;
}
.carousel-control i {
    font-size: 68px;
	line-height: 42px;
    position: absolute;
    display: inline-block;
	color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel .carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 1px 3px;
	border-radius: 50%;
}*/
.carousel-indicators li {
	background: #999;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {
	background: #555;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}

.carousel-control i {

	line-height: 42px;
    position: absolute;
    display: inline-block;
	color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}

 .testimonialText
{
      width: 71%;
      text-align:center;
      margin:auto;
}

.downloadButtons
{
  width:100%;
  text-align: center;
}
.downloadImage
{
  width:200px;
}

.clients
{
  margin-top:20px;
  margin-bottom:20px;
}


.exhibitionLogo
{
  width: 100%;

}

.footerContent
{
  padding-top:20px;
  padding-bottom:20px;
  color:#fff;
  background: #000;
}

.li {
   display: inline-block;
   float:left;
}




.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:var(--main-color);

  transition: 0.5s;
  padding-top: 60px;
  white-space: nowrap !important;
overflow: hidden !important;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.5em;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#mySidenav
{
  white-space: nowrap !important;
overflow: hidden !important;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


@media (max-width: 991.98px) {
.navLargeScreen{
  display:none;
  z-index:99;
}

/* width: 100vw;
margin-left: -64px; */
.navMediumScreen
{
  position:fixed;
  display:block;
  z-index:99 !important;
  background: #1b1b1b;
  color:#FFFFFF;
  width:100vw;
  padding-left: 20px;
}
}

@media (min-width: 991.99px) {
  .navLargeScreen{
    background: #f9f9f9;
    width: 250px;
    height: 100vh;
    float: left;
    position: fixed;
    display:block;
    z-index:99;
  }
.navMediumScreen
{
  display:none;

}
.sections
{
  overflow: hidden;
  padding-left:250px;
  /* background:#f9f9f9; */

}
.exhibitionLogo
{
  width: 100%;
  margin-top: 80px;
}
}


@media (max-width:570px) {
  .page-section
  {
    padding-left:0px !important;
    padding-right: 0px !important;
  }
  .headImage{
    width: 100vw;
margin-left: 0px;
  }
  .deviceControl
  {
    background:#fff;
  }
}
.device-wrapper
{
  margin:auto;
}


@media (min-width:570.1px)
{
  .headImage{
    width: 100vw;
    margin-left: 0px;
  }
}
.footerContent{
  z-index: 100;
}

.awdImgcontainer
{
  display:inline-block;
  margin-bottom:20px;
}

.awdimage
{
  width:100%;
}

/* .fourImage
{
  width:25%;
  height: auto;
} */


.demo {
    width:100%;
}
ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}
li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor:pointer;
}
img {

    max-width: 100%;
}





.lightGalleryImage
{
  width: 40%;
}

#lightgallery
{
  text-align:center!important;
}
