/* CSS stylesheet: Tides of Trade
   Mobile Phone size specific styles
   Created by Laura Kurtzberg */
@media (max-width: 680px) {
  div.main-description section {
    width: 80%;
  }
  div.main-description p {
    text-align: left;
  }
  header {
    height: auto;
    min-height: 500px;
    padding-left: 0;
    margin-left: 0;
    text-align: center;
  }
  header div#title-logo img {
    margin-top: 15vh;
  }
  footer {
    width: 100%;
  }
}

@media (max-width: 480px) {
  div.main-description section {
    width: 80%;
    text-align: center;
  }
  div.main-description p {
    text-align: center;
  }
  header {
    height: auto;
    min-height: 0px;
    max-height: 400px;
    padding-left: 0;
    margin-left: 0;
    text-align: center;
  }

  footer {
    width: 100%;
  }
 }
