body {
  background: #B5DEDD!important;

}

.bgImg
{
position:absolute;
left:0px;
top:0px;
z-index:-1
}

/* ❌remove this block after it's done⬇️*/
.teal{
 background: rgba(0,0,0,0.3)
}

.orange{
  /* background: #9CCBCA; */
}
/* ❌remove this block after it's done⬆️*/

.logo{
  /* width: 25%; */
  margin-top: 11em;
  margin-bottom: 3em;
  filter: drop-shadow(4px 4px 3px rgba(0,0,0,0.2));
  /* margin-top: 5em auto; */
}


h1{
  color: #fff;
font-family: 'Wendy One', sans-serif;
font-size: 30px!important;
text-shadow:2px 2px 3px rgba(0,0,0,.4);
}


h1:hover{
  color:#F6871F;
  text-shadow:2px 2px 5px rgba(255,255,255,.8);
}


h2{
color: #084042;
font-family: 'Lato', sans-serif;
font-size: 18px!important;
}

h3 {
  color: #084042;
font-family: 'Wendy One', sans-serif;
font-size: 22px!important;
padding-left: 1em;
padding-right: 1em;
}






.theButtons{
  border-radius: 30px;
  border: 2px solid #F6871F;
  background-color: rgba(246,135,31,0.4);
  padding-top: 0.6em;

  margin-top: 1em;
  margin-bottom: 1em;
}

.theButtons:hover{
  background-color:rgba(246,135,31,1);
}

.intro{
  padding-top: 0;
  border: 0 solid black;
  margin: 2em auto;
}

.whiteCanvas{
  background: white;
  padding-bottom: 3em;
  margin-top: 6em;
  box-shadow: 5px 8px 9px rgba(0,0,0,0.1);
  border-radius: 5px;
}



.galleryImg{
  width: 30%;
  /* height: 30%; */
  /* ❌get rid of the w & h and use the bootstrap instead */
  /* ❌but the problem is 3*3=9 3*4=12 */
  /* box-shadow: 3px 3px 5px rgba(0,0,0,0.1); */
  padding:.5em
  /* margin-top: 2em;
  margin-bottom: 2em; */
}


.galleryImgShadow{
    box-shadow: 3px 3px 5px rgba(0,0,0,0.15);
}


.navbarItems{
  padding-top :2em;
  /* padding-bottom: .5em; */
}

.subtitle{
  padding-top: 4em;
  padding-bottom: .5em;
}

.acknowledgement{
  padding-bottom: 3em
}

.footer{
  background: #fff;
}
/* .bigParent{
padding: 1%;
border: 5px solid white;
float:none;

}

.parent {
  width: 85%;
  border: 5px solid #E18728;
  float: right;
} */




/* .twoButtons{
  width:30%;
  padding: 1em;
  border: 4px solid black;
  margin: .5em auto;

}



.icon {
  width: 25%;
  padding: 1em;
  border: 4px solid black;
  float: left;
} */
