body {
  background: #B5DEDD!important;

}


/* ❗️set 1rem = 10px */
html {
  font-size: 62.5%;
  }


.affix {
      top: 20px;
      z-index: 9999 !important;}


.bgImg
{
position:absolute;
left:0px;
top:0px;
z-index:-1
}



/* ❌⬇️remove this block after it's done*/
.teal{
 /* background: rgba(0,0,0,0.3) */
}

.orange{
  /* background: #9CCBCA; */
}
/* ❌⬆️remove this block after it's done*/






.logo{
  /* width: 25%; */
  /* margin-top: 11em;
  margin-bottom: 3em; */
  filter: drop-shadow(0.4rem 0.4rem 0.3rem rgba(0,0,0,0.2));
  /* margin-top: 5em auto; */
}


h1{
  color: #fff;
font-family: 'Wendy One', sans-serif;
font-size: 3rem!important;
text-shadow:0.2rem 0.2rem 0.3rem rgba(0,0,0,.4);
}


h1:hover{
  color:#F6871F;
  text-shadow:0.2rem 0.2rem 0.5rem rgba(255,255,255,.8);
}


h2{
color: #084042;
font-family: 'Lato', sans-serif;
font-size: 1.8rem !important;
}

h3 {
  color: #084042;
font-family: 'Wendy One', sans-serif;
font-size: 2.2rem !important;
padding-left: 1rem;
padding-right: 1rem;
}

h4 {
  color: #fff;
font-family: 'Wendy One', sans-serif;
font-size: 2.2rem !important;
padding-left: 1rem;
padding-right: 1rem;
}





.theButtons{
  border-radius: 3rem;
  border: 0.2rem solid #F6871F;
  background-color: rgba(246,135,31,0.4);
  padding-top: 1rem;
  padding-bottom: .5rem;
  padding-left: 2rem;
  padding-right: 2rem;

  margin-top: 1rem;
  margin-bottom: 1rem;
}

.theButtons:hover{
  background-color:rgba(246,135,31,1);
}

.theButtonsVoid{
  border-radius: 3rem;
  border: 0.2rem solid #F6871F;
  background-color: rgba(246,135,31,1);
  padding-top: 1rem;
  padding-bottom: .5rem;
  padding-left: 2rem;
  padding-right: 2rem;

  margin-top: 1rem;
  margin-bottom: 1rem;
}

.topButton{
  border-radius: 3rem;
  border: 0.2rem solid #084042;
  background-color: rgba(8,64,66,0.4);
  padding-top: 1rem;
  padding-bottom: .5rem;
  padding-left: 2rem;
  padding-right: 2rem;

  margin-top: 1rem;
  margin-bottom: 1rem;
}


.topButton:hover{
  background-color: rgba(8,64,66,1);
}

.topButtonVoid{
  border-radius: 3rem;
  border: 0.2rem solid #084042;
  background-color: rgba(8,64,66,1);
  padding-top: 1rem;
  padding-bottom: .5rem;
  padding-left: 2rem;
  padding-right: 2rem;

  margin-top: 1rem;
  margin-bottom: 1rem;
}

.intro{
  padding-top: 0;
  border: 0 solid black;
  margin: 2rem auto;
}

.whiteCanvas{
  background: white;
  padding-bottom: 3rem;
  margin-top: 6rem;
  box-shadow: 0.5rem 0.8rem 0.9rem rgba(0,0,0,0.1);
  border-radius: 0.5rem;
}



.galleryImg{
  width: 30%;
  /* height: 30%; */
  /* ❌get rid of the w & h and use the bootstrap instead */
  /* ❌but the problem is 3*3=9 3*4=12 */
  /* box-shadow: 3px 3px 5px rgba(0,0,0,0.1); */
  padding:.5rem
  /* margin-top: 2em;
  margin-bottom: 2em; */
}


.galleryImgShadow{
    box-shadow: 0.3rem 0.3rem 0.5rem rgba(0,0,0,0.15);
}


.navbarItems{
  padding-top :4rem;
  /* padding-bottom: .5em; */
}

.subtitle{
  padding-top: 4rem;
  padding-bottom: .5rem;
}

.acknowledgement{
  padding-bottom: 3rem
}

.footer{
  background: #fff;
}


/* picture hover */

.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .2s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .2s linear;
transition:all .2s linear;
}

.hovereffect h2 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
font-size:17px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:50px 0 0;
padding:7px 14px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.1);
-webkit-transform:scale(1.1);
transform:scale(1.1);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=50);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}
