body {
  background: #FFE2B4!important;

}

html {
  font-size: 62.5%;
  }

.bgImg
{
/* position:absolute; */
left:0;
top:0;
z-index:-1
}

/* ❌remove this block after it's done⬇️*/
.teal{

}

.orange{
  /* background: #9CCBCA; */
}
/* remove this block after it's done⬆️*/

/* .logo {
  width: 25%;
  padding: 0;
  border: 0 solid black;
  margin-top: 1em;
  margin-bottom: 2em;
  filter: drop-shadow(3px 2px 2px rgba(0,0,0,0.3));
} */

.logo{
  /* width: 25%; */
  /* margin-top: 11em;
  margin-bottom: 3em; */
  filter: drop-shadow(0.4rem 0.4rem 0.3rem rgba(0,0,0,0.2));
  /* margin-top: 5em auto; */
}

h1 {
  color: #084042;
font-family: 'Wendy One', sans-serif;
font-size: 2.2rem!important;
text-shadow:.2rem .2rem .4rem rgba(255,255,255,.8);
}

h1:hover{
  color:#54C2C1;
  text-shadow:.2rem .2rem .4rem rgba(255,255,255,.8);
}



h2{
color: #084042;
font-family: 'Lato', sans-serif;
font-size: 1.8rem!important;
}

h3 {
  color: #084042;
font-family: 'Wendy One', sans-serif;
font-size: 2.2rem!important;
}

/* h3:hover{
  text-decoration-line: none;
} */



h4{color: #084042;
font-family: 'Lato', sans-serif;
font-size: 2.4rem!important;

}


/* .button{
  padding: 0;
  border: 0 solid black;
  margin-top: 1em;
  margin-bottom: 1em;
  font-style: italic;
} */

.theButtons{
  border-radius: 3rem;
  border: .2rem solid #F6871F;
  background-color: rgba(246,135,31,0.4);
  padding-top: 1rem;
  padding-bottom: .5rem;
  padding-left: 2rem;
  padding-right: 2rem;

  margin-top: 1.5rem;
  margin-bottom: 2rem;
  margin-right:0.5rem;
}

.theButtons:hover{
  background-color:rgba(246,135,31,1);
}

.intro{
  padding-left: 0;
  border: 0 solid black;
  margin: 2rem auto;
}

.whiteCanvas{

  background: white;
  padding-bottom: 3rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
  box-shadow: .5rem .8rem .9rem rgba(0,0,0,0.1);
  border-radius: .5rem;
}

.startImg{
  margin-top:4rem;
  box-shadow: .3rem .3rem .5rem rgba(0,0,0,0.1);
}


.galleryImg{
    /* ❌get rid of the w & h and use the bootstrap instead */
  width: 30%;
  height: 30%;
  padding-top: 1rem;
  padding-bottom: .5rem;
  padding-left: .5rem;
  padding-right: .5rem;

  /* border: 1px solid black; */
  /* margin-top: 2em;
  margin-bottom: 2em; */
}

.navbarItems{
  padding-top :4rem;
  /* padding-bottom: .5em; */
}

.subtitle{
  padding-top :3rem;
  padding-bottom: .5rem;
}

.note{
  padding-top:.5rem;
  padding-bottom:1rem;
}

.mainArticle{
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.acknowledgement{
  padding-bottom: 3rem
}

.footer{
  background: rgba(255,255,255,0);
  /* box-shadow: 0 -3px 8px rgba(0,0,0,0.16); */
}
