body {
  background-color: #8ccef1;
  background: -webkit-linear-gradient(#8ccef1, #ffed97); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#8ccef1, #ffed97); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#8ccef1, #ffed97); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#8ccef1, #ffed97); /* Standard syntax */
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  line-height: 1.8em;
}

h2 {
  font-family: 'Roboto', sans-serif;
}

div#demovideo {
  background-color: grey;
  position: relative;
  width: 100%;
  height: 800px;
}

iframe#sicklecell {
  margin-left: 20px;
}

div.description {
  width: 80%;
}

p.description {
  padding-left: 20px;
}

div.information {
  width: 80%;
}

h2.information {
  padding-left: 20px;
  padding-top: 20px;
}

p.information {
  padding-left: 20px;
}

header {
  height: 240px;
  background-color: #8ccef1;
  background: -webkit-linear-gradient(#3f3f3f, #8ccef1); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#3f3f3f, #8ccef1); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#3f3f3f, #8ccef1); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#3f3f3f, #8ccef1); /* Standard syntax */
  color: white;
  width: 100%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 10px;
  display: block;
  border-bottom: solid white 2px;
}

div.title {
  width: 80%;
  margin: auto;
  padding-top: 30px;
}

h2.subtitle {
  width: 500px;
  line-height: 170px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  float: left;
}

div.logo {
  width: 500px;
  float: left;
}

div.logo img {
  max-width: 100%;
}

div.content {
  padding: 10px;
  width: 80%;
  background-color: #eaeaea;
  margin: auto;
  margin-top: 20px;
}

p.download {
  float: left;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  display: inline;
  padding: 20px;
  font-size: 1.5em;
  text-transform: uppercase;
  color: white;
  margin-bottom: 10px;
}

div.download {
  width: 100%;
  background-color: #29c735;
  height: 100px;
  clear: both;
}

div.download ul.download {
  display: inline;
}

div.download ul li {
  float: left;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  display: inline;
}

ul.download li a img {
  width: 200px;
  padding: 20px;
}

div.socmeds {
  float: right;
  color: white;
  overflow: auto;
}

ul.socialmedia {
  display: inline;
}

p.socialmedia {
  display: inline;
  float: left;
  padding-right: 20px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  margin-top: 12px;
}

div.socmeds li {
  list-style-type: none;
  display: inline;
  float: left;
  padding: 10px;
}

div.socmeds li img {
  max-width: 100%;
}

div.socmeds li.twitter {
  width: 30px;
}

div.socmeds li.facebook {
  width: 30px;
}

div.socmeds li.googleplus {
  width: 30px;
}

p.socialmedia {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}


/************
Team CSS
************/

.team li {
  list-style-type: none;
  padding: 10px;
  margin: 25px;
  width: 300px;
  height: 450px;
  float: left;
  word-wrap: break-word;
  text-align: center;
}

.team li a {
  text-decoration: none;
  color: #15addc;
}

.team h1 {
  font-size: 1.8em;
  font-family: 'Roboto', sans-serif;
  color: #545454;
}

.team h2 {
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  color: #545454;
}

.team h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

.team div {
  margin: auto;
}

div.circlewrapper {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  background-color: white;
  text-align:center;
  background-position:50% 50%;
  background-repeat:no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    background-size: cover;
}

div.clay {
  background-image: url("../images/claypic.jpg");
}
div.ebby {
  background-image: url("../images/ebbypic.jpg");
}
div.franklin {
  background-image: url("../images/franklinpic.jpg");
}
div.isabella {
  background-image: url("../images/isabellapic.jpg");
}
div.shareen {
  background-image: url("../images/shareenpic.jpg");
}
div.marcelo {
  background-image: url("../images/marcelopic.jpg");
}
div.nancy {
  background-image: url("../images/nancypic.jpg");
}

div.socialprofile {
  width: 40px;
}

div.socialprofile img {
  max-width: 100%;
}
