
/* ==================================================================
Reset
http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
====================================================================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ==================================================================
Parralax Style rules
====================================================================*/

* background setup */
.background {
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%\9 !important;
}

/* fullscreen setup */
html, body {
    /* give this to all tags from html to .fullscreen */
    height:100%;
}
.fullscreen,
.content-a {
    width:100%;
    height:100%;
    overflow:hidden;
}
.fullscreen.overflow,
.fullscreen.overflow .content-a {
    height:auto;
    min-height:100%;
}

/* content centering styles */
.content-a {
    display:table;
}
.content-b {
	display:table-cell;
    position:relative;
	vertical-align:middle;
	text-align:center;
}

/* visual styles */
section {
	background:#9ed100;
}
.not-fullscreen {
    height:50%;
}


body {
  background-color: #8ccef1;
  font-family: sans-serif;
  line-height: 1.8em;
  font-size: 1.3em;
}

h2 {
  font-family: 'Roboto', sans-serif;
}

/* background setup */
.background {
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%\9 !important;
}


/*====================================================================*/


/* ==================================================================
Video Full Width and Aspect Ratio workarounds for Vimeo iframe
====================================================================*/
#demovideo {
    width: 100%;
    position: relative;
    margin-bottom: 0px;
}

#demovideo > .video-height {
    padding-top: 55%;
    display: block;
}

iframe#demovimeo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#youtube {
    width: 100%;
    position: relative;
}

#youtube > .youtube-video-height {
    padding-top: 55%;
    display: block;
}

iframe#videoyoutube {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/*===================================================================*/

iframe#sicklecell {
  margin-left: 20px;
}

div.description {
  width: 70%;
  margin: auto;
  margin-top: 0px;
  padding-top: 60px;
  color: black;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.5em;
  text-align: left;
}

p.description {
  padding-left: 20px;
}

section.information {
  width: 80%;
  margin: auto;
  color: black;
  background-color: transparent;
  line-height: 2em;
  text-align: left;
  padding-bottom: 40px;
}

h2.information {
  padding: 20px;
  padding-bottom: 40px;
  font-size: 2em;
  padding-top: 80px;
  margin-left: 40px;
  margin-right: 60px;
}

p.information {
  padding: 10px;
  margin-left: 40px;
  margin-right: 60px;
}

div.title {
  margin: auto;
  width: 80%;
  text-align: center;
}

h2.subtitle {
  width: 600px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  margin: auto;
  margin-top: -15px;
}

/* ====================================================================
    Logo and header
==================================================================== */
div#downarrow {
  width: 80px;
  height: 80px;
  margin: auto;
  margin-top: 80px;
  background-image: url("../images/downarrow.png");
  background-size: cover;
  cursor: pointer;
}

div.logo {
  width: 800px;
  margin: auto;
  margin-top: 0px;
  padding-top: 0px;
}

div.logo img {
  max-width: 100%;
}

div.content {
  width: 100%;
  margin: auto;
  margin-top: 20px;
  padding-bottom: 80px;
  display: block;
  clear: both;
  background: #8ccef1;
  background: -webkit-linear-gradient(#8ccef1, #cccccc); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#8ccef1, #cccccc); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#8ccef1, #cccccc); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#8ccef1, #cccccc); /* Standard syntax */
}

section.youtube {
  background-color: #3f3f3f;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 20px;
}

div.youtube {
  width: 700px;
  margin: auto;
}

p.download {
  float: left;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  display: inline;
  padding: 20px;
  font-size: 1.5em;
  color: black;
  margin-bottom: 10px;
  margin-top: 15px;
  margin-left: 25px;
}

div.download {
  width: 800px;
  height: 100px;
  clear: both;
  text-align: center;
  margin: auto;
  background-color: transparent;
  padding-bottom: 40px;
  margin-top: 60px;
}

div.download ul.download {
  display: inline;
}

div.download ul li {
  float: left;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  display: inline;
}

ul.download li a img {
  width: 200px;
  padding: 20px;
}

div.socmeds {
  float: right;
  margin-top: -100px;
  color: white;
}

ul.socialmedia {
  display: inline;
}

p.socialmedia {
  display: inline;
  float: left;
  padding-right: 20px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  margin-top: 12px;
}

div.socmeds li {
  list-style-type: none;
  display: inline;
  float: left;
  padding: 10px;
  margin-left: 15px;
}

div.socmeds li img {
  max-width: 100%;
  height: 30px;
  padding: 10px;
  border-radius: 50%;
  background-color: #3f3f3f;
}

div.socmeds li.twitter {
  width: 30px;
}

div.socmeds li.facebook {
  width: 30px;
}

div.socmeds li.googleplus {
  width: 30px;
}

p.socialmedia {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}


/*===========================================
Team CSS
===========================================*/

div.team {
  width: 100%;
  max-width: 1480px;
  margin: auto;
  display: block;
  clear: both;
  text-align: center;
  padding: 0px;
}

.team li {
  display: inline;
  list-style-type: none;
  padding: 10px;
  margin: 25px;
  width: 300px;
  height: 450px;
  float: left;
  word-wrap: break-word;
  text-align: center;
  background-color: rgba(255,255,255,0.5);
  border-radius: 20px;
  position: relative;
}

.team li a.personalsite {
  text-decoration: none;
  color: #15addc;
	position: absolute;
	bottom: 80px;
	left: 50%; /* position the left edge of the element at the middle of the parent */

  transform: translate(-50%, 0%);
}

.team h1 {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 1.8em;
  font-family: 'Roboto', sans-serif;
  color: #545454;
}

.team h2 {
  padding-bottom: 20px;
  line-height: 1em;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  color: #545454;
}

.team h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
}

.team div {
  margin: auto;
}

div.circlewrapper {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  background-color: white;
  text-align:center;
  background-position:50% 50%;
  background-repeat:no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    background-size: cover;
}

div.clay {
  background-image: url("../images/claypic.jpg");
}
div.ebby {
  background-image: url("../images/ebbypic.jpg");
}
div.franklin {
  background-image: url("../images/franklinpic.jpg");
}
div.isabella {
  background-image: url("../images/isabellapic.jpg");
}
div.shareen {
  background-image: url("../images/shareenpic.jpg");
}
div.marcelo {
  background-image: url("../images/marcelopic.jpg");
}
div.nancy {
  background-image: url("../images/nancypic.jpg");
}

div.socialprofile {
  width: 40px;
  position: absolute;
  bottom: 0;
  left: 130px;
}

div.socialprofile img {
  max-width: 100%;
  padding: 10px;
  border-radius: 50%;
  background-color: #3f3f3f;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

.parallax-container {
  width: 100%;
}

#testing {
  width: 100%;
  height: 500px;
}

footer {
  width: 100%;
  height: 100px;
  background-color: #3f3f3f;
  position: absolute;
  bottom: 0px;
  z-index: 100;
}
