/* Mixins */

@mixin linear-gradient($args...) {
     background: -o-linear-gradient($args);
     background: -moz-linear-gradient($args);
     background: -webkit-linear-gradient($args);
     background: linear-gradient($args);
}

/* This mixin didn't work
@mixin animation($name, $time, $steps, $duration) {
    -webkit-animation: $name $time $steps $duration;
    -moz-animation-delay: $name $time $steps $duration;
    -ms-animation-delay: $name $time $steps $duration;
    animation: $name $time $steps $duration;
}*/
