/* SASS stylesheet: Don Grey Cafe
   Base styles
   Created by Laura Kurtzberg */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*****************************************************************
 Variables
*****************************************************************/
@font-face {
  font-family: Canter-Light;
  src: url(../fonts/Canter-Light.woff); }
@font-face {
  font-family: Canter-Outline;
  src: url(../fonts/Canter-Outline.woff); }
/*****************************************************************
 Global Styles
*****************************************************************/
body {
  font-family: Oswald, sans-serif;
  font-weight: 300;
  font-size: 27px;
  background-color: #434345; }

h1.title {
  font-family: Canter-Outline, sans-serif;
  font-size: 10em; }

.subheading {
  font-family: Oswald, sans-serif;
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 20px; }

span.highlight {
  color: #85c9b4; }

img {
  max-width: 100%; }

div.positioned-absolute {
  position: absolute;
  top: 0;
  left: 0; }

section {
  display: block;
  position: static;
  clear: both; }

a {
  color: #85c9b4;
  text-decoration: none; }

a:hover {
  color: #ffce07;
  text-decoration: underline; }

a:visited {
  color: #ffdb6c;
  text-decoration: none; }

.clear {
  clear: both; }

/*****************************************************************
 Header Styles
*****************************************************************/
header {
  display: block;
  position: relative;
  clear: both;
  width: 100%;
  height: 700px;
  height: 100vh;
  background-image: url("../images/wood-table.png");
  background-repeat: repeat-x;
  background-size: 100% 100%; }
  header h1 {
    position: static;
    padding-top: 60px;
    margin-left: 80px;
    margin-right: 40px;
    color: #e6e7e8;
    z-index: 100;
    line-height: 0.8em; }
  header p.description {
    color: #e6e7e8;
    line-height: 1.2em;
    padding-top: 40px;
    margin-left: 90px;
    max-width: 45%; }
  header img.teacontainer {
    max-width: 40%;
    position: absolute;
    right: 50px;
    bottom: 10%; }
  header img.logo {
    width: 200px;
    margin-left: 5%;
    margin-top: 5%; }

div.download {
  margin-left: 90px;
  margin-top: 40px;
  border-radius: 35px; }
  div.download :hover {
    opacity: 0.8; }
  div.download img.googleplay {
    width: 300px; }

div.learnMore {
  width: 150px;
  color: #e6e7e8;
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: calc(50% - 100px); }
  div.learnMore p {
    padding: 10px; }
  div.learnMore img.downarrow {
    max-width: 100px; }

/*****************************************************************
 Awards / Badges Section Styles
*****************************************************************/
section.awards {
  color: #434345;
  overflow: auto;
  background-image: url("../images/naranjas.png");
  background-size: 262px;
  background-repeat: repeat;
  padding: 50px;
  padding-bottom: 0px;
  height: 500px; }
  section.awards div.centered {
    width: 80%;
    margin: auto; }
  section.awards img.badge {
    margin-top: 0px;
    width: 400px;
    max-width: 40%;
    float: left; }
  section.awards p {
    line-height: 1.2em;
    padding-top: 15px;
    margin-left: 60px;
    width: 50%;
    float: left; }
  section.awards p:nth-child(2) {
    margin-top: 80px; }

/*****************************************************************
 Footer and Social Media
*****************************************************************/
footer {
  width: 100%;
  background-color: #434345;
  z-index: 100;
  overflow: auto;
  padding-bottom: 50px; }
  footer div.nerdlab-logo {
    display: block;
    padding: 40px; }
    footer div.nerdlab-logo img {
      width: 100px; }

div.NerdLAB {
  float: left;
  width: 200px;
  margin-left: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #e6e7e8;
  width: 50%; }

div.socmeds {
  float: right;
  margin-top: 20px;
  margin-right: 40px;
  color: white; }

ul.socialmedia {
  display: inline; }

p.socialmedia {
  display: inline;
  float: left;
  padding-right: 20px;
  text-transform: uppercase;
  font-family: 'PT Sans', serif;
  margin-top: 12px; }

div.socmeds li {
  list-style-type: none;
  display: inline;
  float: left;
  padding: 10px;
  margin-left: 15px; }

div.socmeds li img {
  max-width: 100%;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
  background-color: black; }

div.socmeds li.twitter {
  width: 45px; }
  div.socmeds li.twitter :hover {
    opacity: 0.7; }

div.socmeds li.facebook {
  width: 45px; }
  div.socmeds li.facebook :hover {
    opacity: 0.7; }

div.socmeds li.googleplus {
  width: 45px; }

/********************************************************************
 Parralax Style rules
********************************************************************/
/* background setup */
.background {
  background-repeat: no-repeat;
  /* custom background-position */
  background-position: 50% 50%;
  /* ie8- graceful degradation */
  background-position: 50% 50% \9  !important; }

/* fullscreen setup */
html, body {
  /* give this to all tags from html to .fullscreen */
  height: 100%; }

.fullscreen,
.content-a {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.fullscreen.overflow,
.fullscreen.overflow .content-a {
  height: auto;
  min-height: 100%; }

/* content centering styles */
.content-a {
  display: table; }

.content-b {
  display: table-cell;
  position: relative;
  vertical-align: middle;
  text-align: center; }

/* Contact */
div.contact {
  width: 80%;
  margin: auto;
  padding: 100px;
  color: white;
  background-color: #434345; }

button.btn-primary {
  padding: 5px 15px;
  background: #ccc;
  border: 0 none;
  cursor: pointer;
  order-radius: 5px; }

div.form-group {
  display: block; }
  div.form-group small {
    font-size: 0.8em;
    padding-bottom: 30px;
    display: block; }

textarea {
  width: 100%;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px; }

input {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 50px; }

/*# sourceMappingURL=microsite_base.css.map */
