/* SASS stylesheet: NERDLab Microsite
Mobile Phone size specific styles
Created by Laura Kurtzberg and Edited/ Modified by Isabelle Geller */

/*
redesign like datascience.movie
 */

@import 'reset';

/*****************************************************************
Global Styles and Variables
*****************************************************************/
@media (min-width: 0px) {

    html {

        box-sizing: border-box;
    }
    *, *:before, *:after {
        box-sizing: inherit;
    }

    // Optional add local Font Faces, and create Font Stacks
    @font-face {
        font-family: BebasNeue;
        src: url(../fonts/BebasNeue.woff);
    }
    $title: BebasNeue, Sans-serif;
    $headings: BebasNeue, Sans-serif;
    $mainFont: Roboto, Sans-Serif;

    // Color Palette
    $Highlight-Color: #0998C6;
    $Background-Color: #FFFFFF;
    $Text-Color: #0F0F0F;
    $Main-Color-One: #7F7F7F;
    $Main-Color-Two: #85c9b4;
    $overlayColor: rgb(128,128,128, 0.6);


    html, body {
        height: 100%;
        overflow-x: hidden;
        font-family: Roboto, sans-serif;
        background: linear-gradient(180deg, rgba(49,48,85,0.7) 0%, rgba(49,48,85,0.7) 61%), url('../images/headerBackground.png');

    }

    .arrowDiv{
        img{
            width: 50px;
            height: auto;
        }
        &:hover{
            filter: drop-shadow(0 0 0.75rem white);
        }
    }

    a i.fa {
        color: white;
        &:hover{
            filter: drop-shadow(0 0 0.75rem white);
        }
    }

    span.highlight {
        color: $Highlight-Color;
    }

    //Link Styles
    a {
        color: $Highlight-Color;
        text-decoration: none;
    }

    a:hover {
        color: $Main-Color-One;
        text-decoration: underline;
    }

    a:visited {
        color: $Main-Color-Two;
        text-decoration: none;
    }

    .clear {
        clear: both;
    }




    /*****************************************************************
    Header/Nav Styles
    *****************************************************************/
    header nav.navbar{
        position: unset !important;

    }

    /*****************************************************************
    Body Styles
    *****************************************************************/
    /*****************************************************************
    Title Styles
    *****************************************************************/
    section#titleSection{
        height: calc(100% - 78px);
        section#titleSectionOverlay{
            p#gameTitleText{
                color: red;
                font-weight: 900;
                line-height: normal;
                font-size: 19vmax;
                font-family: $title;
            }

            img.downloadIcon {
                //background-color: rgba(200, 200, 200, 0.5);
                //border-radius: 10px;
                width: 150px;
                height: 50.125px;
                &:hover {
                    filter: drop-shadow(0 0 0.1rem white);
                }
            }

            footer{
                background-color: transparent;
            }
        }
    }

    /*****************************************************************
    Awards / Badges Section Styles
    *****************************************************************/

    section#awards{
        background: linear-gradient(180deg, rgba(49,48,85,0.7) 0%, rgba(49,48,85,0.7) 61%), url('../images/inline_image_preview.jpg');
        background-size: cover;
        img.img-thumbnail{
            border: 0px;
            max-height: 200px;
            padding: 20px;
            background-color: transparent;
        }
    }

    /*****************************************************************
    Demo styles
   *****************************************************************/
    //section#demovideo{
    //    padding-top: 56.25%;
    //    overflow: hidden;
    //
    //    iframe{
    //        left: 0;
    //        top: 0;
    //        border: 0;
    //    }
    //}
    section#demo{
        span#videoPlaceHolder{
            background: url("../images/videoPlaceholder.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            button#openButton{
                transform: scale(1.5,1.5);
            }
            div.modal-content{
                min-height: 100vh;
                min-width: 100vw;
                border-radius: 0px;

                div.modal-header{
                    border: 0px;
                }
            }
        }


    }

    //section#demovideo{
    //    iframe{
    //        height: 100%;
    //    }
    //}



    /*****************************************************************
    FAQ styles
   *****************************************************************/
    section#faq{
        p.h2.text-center{
            font-family: $headings;
            font-size: 50px;
        }
        ul{
            font-family: $mainFont;
        }
    }

    /*****************************************************************
    Footer Styles
    *****************************************************************/
    body footer{
        font-family: $mainFont;
        background-color: #0998C6;

        div.arrowDiv{
            background-color: #0998C6;
            img#uparrow{
                transform: rotate(180deg);
            }
        }

        ul.list-group.list-group-horizontal{
            li.list-group-item{
                background-color: transparent;

            }
        }

        p{
            color: white;
            font-size: 15px;
        }

    }


}



