    @import url('https://fonts.googleapis.com/css2?family=Bangers&family=Open+Sans:wght@300&display=swap');

    /* CSS styles for the website */
    body {
        font-family: 'Open Sans', sans-serif;
        color: #fff;
        background-color: #000;
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
        color: #ffffff;
    }    
    .about {
        margin-top: 5em;
        min-height: 50vh;
    }
    .header {
        font-family: 'Bangers', cursive;
        background-color: #000;
        background-repeat:no-repeat;
        background-position: center center;
        color: #fff;
        text-shadow: 1px 1px 2px black; 
        margin-top: 0px;
        text-align: center;
        position: fixed;
        width: 100%;
        z-index: 9999;
        border-bottom: 2px solid #333333s;
    }
    .header ul > li {
        display: inline-block;
        padding: 1em;
    }
    .header ul > li a {
        font-size: 2em;
    }

    a:active {
        color: #ffffff;
    }

    .header ul > li:hover,.header ul > li:visited  {
        color: #ffffff;
        background: purple;
    }


    .top {
        width: 100%;
    }
    .middle {
        margin-top: 3em;
        text-align: center;
    }
    .bottom {
        width: 100%;
        position: absolute;
        bottom: 0;
        text-align: center;
        max-height: 100vh;
    }
    .center  {
        display: block;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .right {
        float: right;
        width: 40vh;
    }

    footer {
        padding: 2em;
        text-align: center;
        margin: 0 auto;
        background: rgb(134,0,209);
        background: radial-gradient(circle, rgba(134,0,209,1) 0%, rgba(0,0,0,1) 100%);

    }


    .container {
        margin: 0px auto;
        padding-top: 20px;
        background: rgb(134,0,209);
        background: radial-gradient(circle, rgba(134,0,209,1) 0%, rgba(0,0,0,1) 100%);
        min-height: 100vh;
        /* border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    */
    }

    #slideshow {
        margin: 0px auto;       

    }

    .top p {
        text-align: center;
        margin-left: 1em;
        margin-right: 1em;
    }

    .green {
        background-image: url(images/leilani-beau.png), url(images/campus.png);
        width: 100%;
        background-repeat: no-repeat, no-repeat;
        background-position: bottom, bottom;
        background-size: contain, cover;
    }

    
    #characters {
        position: absolute;
        bottom: 0;
        width: 100%;
        max-height: 90vh;
    }
    h1 {
        font-family: 'Bangers', cursive;
        color: #fff;
        text-shadow: 1px 1px 2px black; 
        text-align: center;
        font-size: 16vh;
        margin-bottom: 20px;
        letter-spacing: 3px;        

      }
    
    h2 {
      text-align: center;
      margin-bottom:40px;
    }
    p {
        font-size: 1.2em;
        line-height: 1.5;
        margin-bottom: 20px;
    }
    .small-button {
        display: inline-block;
        font-size: 18px;        
        background-color: #ffd600;
        text-decoration: none;
        color: #fff;
        font-family: 'Bangers', cursive;
        padding: 5px 10px;
        border-radius: 5px;
        text-shadow: 1px 1px 2px black; 

    }
    .cta-button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 36px;
        text-shadow: 1px 1px 2px black; 
        font-family: 'Bangers', cursive;
        background-color: #ffd600;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        box-shadow: 2px 2px 1px 1px black;
        margin: 10px;
    }
        
    .cta-button:hover {
        background-color: #2980b9;
    }

    .slideshow {
      display: none;
      position: relative;
    }

    .slide {
      display: none;
    }

    .slide img {
      width: 100%;
      height: auto;
    }

@media (min-width: 1796px) {
    .green {
        background-position-y: 6em;
    }
}

@media (min-width: 1600px) {
    .about {
/*        margin-top: 2em;*/
    }
} 