
/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    line-height: normal;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/***************************************************************** Variables *****************************************************************/
html, body {
    height: 100%;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}
/***************************************************************** Global Styles *****************************************************************/
body {
    font-family: 'Open Sans', Sans-Serif;
    font-weight: 300;
    font-size: 1.1em;
    background-color: #FFFFFF;
    color: #0F0F0F;
}
h1.section-title {
    font-family: 'Open Sans', Sans-Serif;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 2.0em;
    text-align: center;
    color: rgb(11,64,66);
   /* border-top: 2px #888 solid;
    padding-top: 20px;
   */
}
article.event {
    border-top: 2px #888 solid;
    padding-top: 20px;
    margin-top: 40px;
}
.subheading {
    font-family: 'Oswald', Sans-Serif;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 1.75em;
}
.event h1.subheading {
    font-size: 1.25em;
}
.event h2.subheading {
    font-size: 1.25em;
    font-weight: 300;
}
#team {
    margin-top: 20px;
    margin-bottom: 20px;
}
.blue-background {
    color: #F0F0F0;
    background-color: #0000B0;
}
span.highlight {
    color: #0998C6;
}
img {
    max-width: 100%;
}
div.positioned-absolute {
    position: absolute;
    top: 0;
    left: 0;
}
section {
    display: block;
    position: static;
    clear: both;
    height: auto;
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
/*a {
    color: #0000B0;
    text-decoration: none;
}
a:hover {
    color: #009245;
    text-decoration: underline;
}
a:visited {
    color: #000000;
    text-decoration: none;
}
*/
a, a:link, a:visited, a:hover, a:active {
  color: rgb(11,64,66)/*#ED6418*/;
  text-decoration: none;
}
a.button , a:link.button, a:visited.button , a:hover.button , a:active.button {
  color: #FFF;
  text-decoration: none;
}

sup {
  vertical-align: super;
  font-size: /*smaller*/ 0.5em;
}

.subscript {
  font-size: 0.75em;
}

.clear {
    clear: both;
}
div.nerdlab-banner {
    height: 50px;
    padding: 20px;
    background-color: #0998C6;
    line-height: 50px;
    position: fixed;
    z-index: 1000;
    width: 100%;
}
div.nerdlab-banner img {
    width: 50px;
    float: left;
    vertical-align: middle;
    margin-left: 50px;
}
div.nerdlab-banner p {
    color: white;
    float: left;
    margin-left: 20px;
}
/***************************************************************** Header Styles *****************************************************************/
div.subpagelogo {
    background-color: rgba(246,135, 32, 0.85);
    padding: 10px;
    text-decoration: none;
    position: fixed;
    width: calc(100% - 20px);
    height: 60px;
    z-index: 999;
    text-align: center;
}
div.subpagelogo img.logo {
    height: 60px;
    margin: 0;
}
header {
    background-color: grey;
    /* background-image: url("../images/Dwell_splash.jpg"); */
    background: url(../images/Dwell_splash.jpg) no-repeat center center fixed; 
    background-size: cover;
    /* background-size: contain; */
    resize: both;
    display: block;
    position: relative;
    clear: both;
    width: 100%;
    min-height: 480px;
   /* height: 90vh;
   */
    padding-left: 60px;
}
section.secondimage {
    background-color: grey;
    background-image: url("../images/EEE_frostScience_02.jpg");
    background-size: cover;
    display: block;
    position: relative;
    clear: both;
    width: 100%;
    min-height: 680px;
    padding-left: 60px;
    background-position: center center;
}
section.thirdimage {
    background-color: grey;
    background-image: url("../images/EEE_Smithsonian_twoPlayers.jpg");
    background-size: cover;
    display: block;
    position: relative;
    clear: both;
    width: 100%;
    min-height: 680px;
    padding-left: 60px;
    background-position: center center;
}
header h1.title {
    font-family: 'Open Sans', Sans-serif;
    font-size: 3em;
    padding-top: 250px;
    padding-bottom: 150px;
    color: #0000B0;
    z-index: 100;
    line-height: 1em;
}

div.download {
    width: 198px;
    height: 59px;
    padding: 1px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgba(200, 200, 200, 0.5);
}
div.download:hover {
    border-radius: 10px;
    background-color: rgba(200, 200, 200, 0.8);
}
div.gamelogo img {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 48%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 20%;
    /* opacity: .92; */
}
div.learnMore {
    width: 150px;
    color: #0F0F0F;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: calc(50% - 100px);
}
div.learnMore p {
    padding: 10px;
}
div.learnMore img#downarrow {
    max-width: 80px;
}
.socialmedia {
    background-color: none;
    position: fixed;
    right: 20px;
    top: 22px;
   /* width: calc(100% - 20px);
   */
    height: 60px;
    z-index: 1000;
   /* text-align: center;
    */
}
.socialmedia img.logo {
    height: 35px;
    margin: 0;
}
/***************************************************************** Demo Video Section Styles *****************************************************************/
div.staticblock {
    position: static;
    display: block;
    background-color: #FFFFFF;
    width: 100%;
    clear: both;
}
section#demovideo {
    width: 100%;
    position: relative;
    display: block;
    margin-bottom: 0px;
    clear: both;
}
#demovideo > .video-height {
    padding-top: 55%;
    display: block;
}
iframe#demovimeo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
/***************************************************************** About EEE / Section Styles *****************************************************************/
section.about {
    color: #000000;
    padding: 20px;
    padding-bottom: 0px;
    padding-bottom: 0px;
}
section.abouteee div.centered {
   /* width: 80%;
   */
    margin: auto;
}
section.abouteee img.badge {
    margin-top: 0px;
    width: 200px;
    max-width: 40%;
    float: left;
    border-radius: 200px;
    box-shadow: 0px 0px 5px white;
}
section.abouteee p {
    line-height: 1.4em;
    padding-top: 5px;
    margin-left: 20px;
    width: 70%;
    float: left;
}
section.abouteee p:nth-child(2) {
    margin-top: 0px;
}
/***************************************************************** Footer Styles *****************************************************************/
footer {
    height: 350px;
    background-color: darkgreen
   /*#191970*/
   ;
   /*#f05A28;
   */
    text-align: center;
    font-size: 1.1em;
}
/* Circle tab above the footer */
footer .circle {
    display: inline-block;
    text-align: center;
    position: relative;
    top: -50px;
    border-radius: 70px;
    width: 140px;
    height: 140px;
    background-color: darkgreen
   /*#191970*/
   ;
   /*#f05A28;
   */
    line-height: 90px;
}
/* Arrow inside the Circle tab above the footer */
footer .circle img.arrow {
    width: 50px;
    transform: rotateX(180deg);
}
footer ul.socialmedia {
    text-align: center;
    width: 90%;
    max-width: 500px;
    margin: auto;
}
footer ul.socialmedia li {
    display: inline-block;
    width: 50px;
    height: 50px;
}
footer ul.socialmedia li a {
    color: white;
}
footer p.footertext {
    width: 90%;
    max-width: 900px;
    margin: auto;
    color: white;
    font-weight: bold;
}
/*****************************************************************/
/******************************************************************** Parralax Style rules ********************************************************************/
/* background setup */
.background {
    background-repeat: no-repeat;
   /* custom background-position */
    background-position: 50% 50%;
   /* ie8- graceful degradation */
    background-position: 50% 50% \9 !important;
}
/* fullscreen setup */
html, body {
   /* give this to all tags from html to .fullscreen */
    height: 100%;
}
.fullscreen, .content-a {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.fullscreen.overflow, .fullscreen.overflow .content-a {
    height: auto;
    min-height: 100%;
}
/* content centering styles */
.content-a {
    display: table;
}
.content-b {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    text-align: center;
}
/***************************************************************** Team Section *****************************************************************/
.subheadingteam {
    font-family: 'Open Sans', Sans-Serif;
    font-weight: 600;
    font-size: 40px;
    color: #ffffff;
    margin: 10px;
}
.faq {
    overflow: auto;
    background-color: #0e188d;
    min-height: 610px;
    padding: 20px;
}
.faq div.centered {
    width: 80%;
    margin: auto;
}
/************************************************************* Gallery Section *************************************************************/
.gallery {
    padding: .5vw;
    font-size: 0;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-direction: column;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    display: -webkit-box;
    display: flex;
}
.gallery div {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
    width: 200px;
    margin: .5vw;
}
.gallery div img {
    width: 100%;
    height: auto;
}
@media screen and (max-width: 400px) {
    .gallery div {
        margin: 0;
   }
    .gallery {
        padding: 0;
        margin-right: 30px;
   }
}
/************************************************************* Contact Section *************************************************************/
section.contact {
    margin: auto;
    padding: 100px;
    color: #0F0F0F;
    background-color: #FFFFFF;
}
.button {
    padding: 5px 15px;
    background: #0998C6;
    border: 0 none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 2em;
    float: right;
    margin: 30px;
}
a.button, #bottom a {
   /* color: #ffffff;
   */
}
.button:hover {
    text-decoration: none;
    background-color: rgb(11,64,66)
   /*#5998C6*/
   ;
    color: #f9b65d;
}
div.form-group {
    display: block;
}
div.form-group small {
    font-size: 0.8em;
    padding-bottom: 30px;
    display: block;
}
textarea {
    width: 100%;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}
input {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
}
/*# sourceMappingURL=microsite_base.css.map */
/*MOBILE*/
@media only screen and (max-width: 680px) {
    .subheading {
        font-size: 16px;
        margin-bottom: 5px;
   }
    header {
        min-height: 480px;
   }
   /* Logo EEE*/
    div. img {
        width: 80%;
   }
   /* About EEE */
    section.abouteee img.badge {
        float: none;
        padding-top: 2px;
   }
    section.abouteee p {
        font-size: 14px;
        line-height: 1.4em;
        float: none;
        width: 90%;
   }
   /***************************************************************** Team Section *****************************************************************/
    .subheadingteam {
        font-size: 20px;
        margin: 5px;
   }
    .faq {
        min-height: 300px;
        padding: 10px;
   }
    .faq div.centered {
        width: 100%;
        margin: auto;
   }
   /**************** Other *****************/
    .photo-desc {
        color: #000;
   }
 }
