body {
	background-color: #fff/*161616*/;
	overflow-x: hidden;
}

.title {
	font-size: 5em;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	color: white;
	text-align: center;
	padding: 12px;
	margin-top: 5%;
	color: #ED6418;
}

.titleBox {
	position: relative;
	height: 100vh;
	background-color: #161616;
}

.titleText {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.5em;
	color: white;
	text-align: center;
	padding: 13px;
}

.text {
	color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2em;
}

.supporting-img {
	display: block;
    max-width: 350px;
    margin: 20px auto;
}

.event-logo {
		margin: 20px 0 15px 50px;
    float: right;
}

ul#team {
	list-style-type: circle;
}

img.ggj {
	display: block;
	width: 20%;
	margin: 0 auto;
}

.description br {
	padding-bottom: 3px;
}

section.secondimage h1, section.thirdimage h1 {
	font-weight: bold;
    padding-top: 35px;
    font-size: 1.5em;
	font-family: 'Oswald', sans-serif;
}

section.thirdimage h1, section.thirdimage p {
		color: #FFF;
}

.U_logo {
	margin-bottom: 25px;
}

strong {
	font-weight: 900;
}

.twocol {
	display: block;
	float: left;
	margin: 20px auto;
	box-sizing: border-box;
	width: 50%;
}

article.description {
  	width: 60%;
  	float: left;
  }

 footer p.footertext {
  	line-height: 1.25 !important;
  }

.circle {
	height: 80px;
	width: 80px;
	border-radius: 50%;
	background-color: darkgreen/*#191970*/;
	position: absolute;
/*	left: 5%;*/
	top: 60%;
/*	box-shadow: 10px 10px 15px #000000;*/
}

p {
	margin-bottom: 20px;
	margin-top: 10px;
}

.facebook {
	background-image: url("../images/facebook.svg");
	background-position: center;
	background-size: 80%;
	background-repeat: no-repeat;
}

.twitter {
	background-image: url("../images/twitter.svg");
	background-position: center;
	background-size: 80%;
	background-repeat: no-repeat;
	margin-top: 100px;
}

.instagram {
	background-image: url("../images/instagram.svg");
	background-position: center;
	background-size: 80%;
	background-repeat: no-repeat;
	margin-top: 200px;
}

.button {
/*	height: 90px;*/
	width: 250px;
	border-radius: 10px;
	background: #888;
/*	position: absolute;*/
	text-align: center;
	top: 50%;
	right: -1%;
/*	box-shadow: 10px 10px 15px #000000;*/
	font-family: 'Oswald', sans-serif;;
}

.button2 {
	height: 120px;
	width: 250px;
	border-radius: 10px;
	background: #0C0C0C;
	text-align: right;
	position: absolute;
	top: 70%;
	right: .001%;
	box-shadow: 10px 10px 15px #000000;
}

.buttonRegular {
	height: 90px;
	width: 250px;
	border-radius: 10px;
	background: #0C0C0C;
	box-shadow: 10px 10px 15px #000000;
	margin: 0 auto;
	margin-top: 10px;
}
.playIt {
	font-size: 3em;
	font-family: 'Open Sans Condensed', sans-serif;
	color: white;
	padding: 12px;
}

.playItCenter {
	font-size: 1.2em;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	color: white;
	padding: 15px;
}

.orange {
	color: #ED6418;
}

.learnMore {
	font-size: 1.5em;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #5D5D5D;
	text-align: center;
	margin-top: 15%;
}

.line {
	height: 50px;
	width: 3px;
	border: 3px solid;
	border-radius: 10px;
	border-color: #ED6418;
	margin: 0 auto;
}

.video {

}

.textDescription {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.6em;
	color: white;
	text-align: center;
	top: 40%;
	transform: translate(0px, 100px);
	transition: transform 1000ms ease-out;
	animation-delay: 1000ms;
}

.textDescriptionAnimation {
	transform: translate(0px, -170px);
	transition: transform 1000ms ease-out;
	animation-delay: 1000ms;
}

.textDescriptionBackground {
	height: 120vh;
	width: 100%;
}

.awards {
	height: 100vh;
	width: 100%;
}

.white {
	background-color: white;
	box-shadow: inset 0 0 50px #000000;
}

.meaningfulGame {
	height: 250px;
	width: 100%;
	background-image: url("../images/Badge.png");
	background-repeat: no-repeat;
	background-size: contain;
	background position: center;
	margin-top: 100px;
	padding: 0;
}

.awardsText {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 2em;
	text-align: center;
	padding: 13px;
	top: 20%;

}

.quotation {
	fill: #5D5D5D;
	height: 50px;
	width: 100%;
	position: absolute;
	background-image: url("../images/quotesUp.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background position: center;
	margin-top: -20px;
	margin-left: -70px;
}

.quotation2{
	height: 50px;
	width: 100%;
	position: absolute;
	background-image: url("../images/quotesDown.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background position: center;
	margin-top: -20px;
	margin-left: 95%;
}

a {
	color: #ED6418;
}

a:hover {
	color: #f9b65d/*#5D5D5D*/;
	text-decoration: none;
	cursor: pointer;
}

.divider {
	height: 4px;
	width: 50%;
	border: 5px solid;
	border-radius: 10px;
	border-color: #ED6418;
	margin: 0 auto;
	margin-top: -5%;
	margin-bottom: 150px;
}

.press {
	width: 100%;
	height: 100vh;

}

.columns {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 3em;
	margin-left: 7%;
	margin-right: 5%;
	margin-top: 5%;
}

.textCenter {
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 2.5em;
	margin-top: 15%;
}

.buyOption {
	margin-top: -10%;
	margin-bottom: 10%;
}

.form-group {
	margin-bottom: 55px;
}

@media only screen and (max-device-width: 480px) {     /*Mobile Device*/


.titleText {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1em;
	color: white;
	text-align: center;
	padding: 13px;
	top: 50px;
}

.circle {
	height: 55px;
	width: 55px;
	border-radius: 50%;
	background-color: #0C0C0C;
	position: absolute;
/*	left: 5%;*/
	top: 60%;
/*	box-shadow: 10px 10px 15px #000000;*/
}

.facebook {
	background-image: url("/../images/facebook.svg");
	background-position: center;
	background-size: 80%;
	background-repeat: no-repeat;
}

.twitter {
	background-image: url("../images/twitter.svg");
	background-position: center;
	background-size: 80%;
	background-repeat: no-repeat;
	margin-top: 70px;
}

.instagram {
	background-image: url("../images/instagram.svg");
	background-position: center;
	background-size: 80%;
	background-repeat: no-repeat;
	margin-top: 140px;
}

.button {
/*	height: 40px;
	width: 200px;
	border-radius: 10px;
	background: #0C0C0C;
	position: absolute;
	top: 60%;
	box-shadow: 10px 10px 15px #000000;*/
}

.button2 {
	height: 40px;
	width: 200px;
	border-radius: 10px;
	background: #0C0C0C;
	position: absolute;
	top: 70%;
	right: -1%;
	box-shadow: 10px 10px 15px #000000;
}

.playIt {
	font-size: 1.5em;
	text-align: left;
}

.learnMore {
	font-size: 1.5em;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #5D5D5D;
	text-align: center;
	margin-top: 70%;
}

.textDescription {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1em;
	color: white;
	text-align: center;
	top: 50%;
	transform: translate(0px, 100px);
	transition: transform 1000ms ease-out;
	animation-delay: 1000ms;
}
.textDescriptionAnimation {
	transform: translate(0px, -250px);
	transition: transform 1000ms ease-out;
	animation-delay: 1000ms;
}

.textDescriptionBackground {
	height: 100vh;
	width: 100%;
}

/*.meaningfulGame {
	height: 150px;
	width: 100%;
	background-image: url("../images/Badge.png");
	background-repeat: no-repeat;
	background-size: contain;
	background position: center;
	top: 2%;
	left: 31%;
}
*/
.awardsText {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1em;
	text-align: center;
	padding: 13px;
	margin-top: 60px;
	margin-left: 220px;
}

.awards {
	height: 1000px;
	width: 100%;
}

.quotation {
	fill: #5D5D5D;
	height: 20px;
	width: 100%;
	position: absolute;
	background-image: url("../images/quotesUp.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background position: center;
	margin-top: -20px;
	margin-left: -40px;
}

.quotation2{
	height: 20px;
	width: 100%;
	position: absolute;
	background-image: url("../images/quotesDown.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background position: center;
	margin-top: -20px;
	margin-left: 260px;
}


.event-logo {
	display: block;
	float: none;
}

.supporting-img {
	width: 100%;
}

.event-logo {
	margin: 20px 0 0;
}

}



@media only screen and (max-width: 1500px) {     /* Laptop size */

body {
	overflow-x: hidden;
}

.columns {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.5em;
	margin-left: 7%;
	margin-right: 5%;
	margin-top: 5%;
}

.awardsText {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 2em;
	text-align: center;
	padding: 13px;
	margin-left: 650px;
	top: 15%;
}

.awardAnimationOutLeft {
	transform: translate(-330px, 0px);
	transition: transform 1000ms ease-out;
	animation-delay: 1000ms;

}

.awardAnimationOutRight {
	transform: translate(-660px, 0px);
	transition: transform 1000ms ease-out;
	animation-delay: 1000ms;

}

.divider {
	height: 4px;
	width: 50%;
	border: 5px solid;
	border-radius: 10px;
	border-color: #ED6418;
	margin: 0 auto;
}

.press {
	width: 100%;
	height: 130vh;
}

.textCenter {
	color: white;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 2.5em;
	margin-top: -5%;
}

.faq {
	width: 100%;
	height: 100vh;
}

.contact {
	width: 100%;
	height: 100vh;
}

}

/******************* JMpress (Image Gallery) Section ************************/
 .jms-slideshow {
		 position: relative;
		 width: 80%;
		 max-width: 1400px;
		 margin: 20px auto;
		 height: 640px;
}
 .jms-wrapper {
		 width: auto;
		 height: 640px;
		 background-color: #fff;
		 box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
		 -webkit-background-clip: padding;
		 -moz-background-clip: padding;
		 background-clip: padding-box;
		 border: 10px solid #fff;
		 border: 10px solid rgba(255, 255, 255, 0.9);
		 outline: none;
		 -webkit-transition: background-image 1s linear;
		 -moz-transition: background-image 1s linear;
		 -o-transition: background-image 1s linear;
		 -ms-transition: background-image 1s linear;
		 transition: background-image 1s linear;
}
 .color-1 {
		 background-color: #a5d4ba;
		 background-image: url("../images/EEE_frostScience_01.jpg");
		 background-size: cover;
		 background-position: top center;
}
 .color-2 {
		 background-color: #a5d4ba;
		 background-image: url("../images/EEE_frostScience_02.jpg");
		 background-size: cover;
		 background-position: top center;
}
 .color-3 {
		 background-color: #a5d4ba;
		 background-image: url("../images/EEE_frostScience_03.jpg");
		 background-size: cover;
		 background-position: top center;
}
 .color-4 {
		 background-color: #a5d4ba;
		 background-image: url("../images/smithsonian2017/EEE_Smithsonian_01.JPG");
		 background-size: cover;
		 background-position: top center;
}
 .color-5 {
		 background-color: #a5d4ba;
		 background-image: url("../images/smithsonian2017/EEE_Smithsonian_02.JPG");
		 background-size: cover;
		 background-position: top center;
}
 .color-6 {
		 background-color: #a5d4ba;
		 background-image: url("../images/smithsonian2017/EEE_Smithsonian_03.JPG");
		 background-size: cover;
		 background-position: top center;
}
 .color-7 {
		 background-color: #a5d4ba;
		 background-image: url("../images/smithsonian2017/EEE_Smithsonian_04.JPG");
		 background-size: cover;
		 background-position: top center;
}
 .color-8 {
		 background-color: #a5d4ba;
		 background-image: url("../images/smithsonian2017/EEE_Smithsonian_05.JPG");
		 background-size: cover;
		 background-position: top center;
}
 .color-9 {
		 background-color: #a5d4ba;
		 background-image: url("../images/smithsonian2017/EEE_Smithsonian_06.JPG");
		 background-size: cover;
		 background-position: top center;
}
 .color-10 {
		 background-color: #a5d4ba;
		 background-size: cover;
		 background-image: url("../images/smithsonian2017/EEE_Smithsonian_07.JPG");
		 background-position: top center;
}
 .color-11 {
		 background-color: #a5d4ba;
		 background-image: url("../images/1.jpg");
		 background-size: cover;
		 background-position: top center;
}
 .color-12 {
		 background-color: #a5d4ba;
		 background-image: url("../images/2.jpg");
		 background-size: cover;
		 background-position: top center;
}
 .color-13 {
		 background-color: #a5d4ba;
		 background-image: url("../images/3.jpg");
		 background-size: cover;
		 background-position: bottom center;
}
 .color-14 {
		 background-color: #a5d4ba;
		 background-image: url("../images/4.jpg");
		 background-size: cover;
		 background-position: bottom center;
}
.color-15 {
		background-color: #a5d4ba;
		background-image: url("../images/5.jpg");
		background-size: cover;
		background-position: bottom center;
}
.color-16 {
		background-color: #a5d4ba;
		background-image: url("../images/6.jpg");
		background-size: cover;
		background-position: bottom center;
}
.color-17 {
		background-color: #a5d4ba;
		background-image: url("../images/7.jpg");
		background-size: cover;
		background-position: bottom center;
}

 .step {
		 width: 900px;
		 height: 420px;
		 display: block;
		 -webkit-transition: opacity 1s;
		 -moz-transition: opacity 1s;
		 -ms-transition: opacity 1s;
		 -o-transition: opacity 1s;
		 transition: opacity 1s;
}
 .step:not(.active) {
		 opacity: 0;
		 filter: alpha(opacity=0);
		/* internet explorer */
		 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
		/*IE8*/
}
 .jms-content {
		 margin: 0px 370px 0px 20px;
		 position: relative;
		 clear: both;
}
 .jms-dots {
		 width: 100%;
		 position: absolute;
		 text-align: center;
		 left: 0px;
		 bottom: 20px;
		 z-index: 2000;
		 -webkit-user-select: none;
		 -moz-user-select: none;
		 -ms-user-select: none;
		 -o-user-select: none;
		 user-select: none;
}
 .jms-dots span {
		 display: inline-block;
		 position: relative;
		 width: 12px;
		 height: 12px;
		 border-radius: 50%;
		 background: #777;
		 margin: 3px;
		 cursor: pointer;
		 box-shadow: 1px 1px 1px rgba(0,0,0,0.1) inset, 1px 1px 1px rgba(255,255,255,0.3);
}
 .jms-dots span.jms-dots-current:after {
		 content: '';
		 width: 8px;
		 height: 8px;
		 position: absolute;
		 top: 2px;
		 left: 2px;
		 border-radius: 50%;
		 background: #ffffff;
		/* Old browsers */
		 background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
		/* FF3.6+ */
		 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
		/* Chrome,Safari4+ */
		 background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
		/* Chrome10+,Safari5.1+ */
		 background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
		/* Opera 11.10+ */
		 background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
		/* IE10+ */
		 background: linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
		/* W3C */
		 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
		/* IE6-9 */
}
 .jms-arrows {
		 -webkit-user-select: none;
		 -moz-user-select: none;
		 -ms-user-select: none;
		 -o-user-select: none;
		 user-select: none;
}
 .jms-arrows span {
		 position: absolute;
		 top: 50%;
		 margin-top: -10px;
		 height: 80px;
		 width: 30px;
		 cursor: pointer;
		 z-index: 2000;
		 box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
		 border-radius: 3px;
}
 .jms-arrows span.jms-arrows-prev {
		 background: #fff url(../images/arrow_left.png) no-repeat 50% 50%;
		 left: -10px;
}
 .jms-arrows span.jms-arrows-next {
		 background: #fff url(../images/arrow_right.png) no-repeat 50% 50%;
		 right: -10px;
}
/* Not supported style */
 .jms-wrapper.not-supported {
		 background-color: #E3D8FF;
		 background-color: rgba(227, 216, 268, 1);
}
 .jms-wrapper.not-supported:after {
		 content: 'The slideshow functionality is not supported on your device.';
		 padding: 0px 0px 30px 0px;
		 text-align: center;
		 display: block;
}
 .jms-wrapper.not-supported .step {
		 display: none;
		 position: relative;
		 opacity: 1;
		 filter: alpha(opacity=99);
		/* internet explorer */
		 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)";
		/*IE8*/
		 margin: 20px auto;
}
 .jms-wrapper.not-supported .step:first-of-type {
		 display: block;
}
 .jms-wrapper.not-supported .step:not(.active) a.jms-link {
		 opacity: 1;
		 margin-top: 40px;
}
 .step {
		 width: 100%;
		 position: relative;
}
 .step:not(.active) {
		 opacity: 1;
		 filter: alpha(opacity=99);
		 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)";
}
 .step:not(.active) a.jms-link{
		 opacity: 1;
		 margin-top: 40px;
}




.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
/*************************************************************/
