/* SASS stylesheet: NERDLab Microsite
Mobile Phone size specific styles
Created by Laura Kurtzberg and Edited/ Modified by Isabelle Geller */
/*
redesign like datascience.movie
 */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*****************************************************************
Global Styles and Variables
*****************************************************************/
@media (min-width: 0px) {
  html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  @font-face {
    font-family: BebasNeue;
    src: url(../fonts/BebasNeue.woff);
  }
  html, body {
    height: 100%;
    overflow-x: hidden;
    font-family: Roboto, sans-serif;
    background: linear-gradient(180deg, rgba(49, 48, 85, 0.7) 0%, rgba(49, 48, 85, 0.7) 61%), url("../images/headerBackground.png");
  }

  .arrowDiv img {
    width: 50px;
    height: auto;
  }

  .arrowDiv:hover {
    filter: drop-shadow(0 0 0.75rem white);
  }

  a i.fa {
    color: white;
  }

  a i.fa:hover {
    filter: drop-shadow(0 0 0.75rem white);
  }

  span.highlight {
    color: #0998C6;
  }

  a {
    color: #0998C6;
    text-decoration: none;
  }

  a:hover {
    color: #7F7F7F;
    text-decoration: underline;
  }

  a:visited {
    color: #85c9b4;
    text-decoration: none;
  }

  .clear {
    clear: both;
  }

  /*****************************************************************
  Header/Nav Styles
  *****************************************************************/
  header nav.navbar {
    position: unset !important;
  }

  /*****************************************************************
  Body Styles
  *****************************************************************/
  /*****************************************************************
  Title Styles
  *****************************************************************/
  section#titleSection {
    height: calc(100% - 78px);
  }

  section#titleSection section#titleSectionOverlay p#gameTitleText {
    color: red;
    font-weight: 900;
    line-height: normal;
    font-size: 19vmax;
    font-family: BebasNeue, Sans-serif;
  }

  section#titleSection section#titleSectionOverlay img.downloadIcon {
    width: 150px;
    height: 50.125px;
  }

  section#titleSection section#titleSectionOverlay img.downloadIcon:hover {
    filter: drop-shadow(0 0 0.1rem white);
  }

  section#titleSection section#titleSectionOverlay footer {
    background-color: transparent;
  }

  /*****************************************************************
  Awards / Badges Section Styles
  *****************************************************************/
  section#awards {
    background: linear-gradient(180deg, rgba(49, 48, 85, 0.7) 0%, rgba(49, 48, 85, 0.7) 61%), url("../images/inline_image_preview.jpg");
    background-size: cover;
  }

  section#awards img.img-thumbnail {
    border: 0px;
    max-height: 200px;
    padding: 20px;
    background-color: transparent;
  }

  /*****************************************************************
   Demo styles
  *****************************************************************/
  section#demo span#videoPlaceHolder {
    background: url("../images/videoPlaceholder.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  section#demo span#videoPlaceHolder button#openButton {
    transform: scale(1.5, 1.5);
  }

  section#demo span#videoPlaceHolder div.modal-content {
    min-height: 100vh;
    min-width: 100vw;
    border-radius: 0px;
  }

  section#demo span#videoPlaceHolder div.modal-content div.modal-header {
    border: 0px;
  }

  /*****************************************************************
   FAQ styles
  *****************************************************************/
  section#faq p.h2.text-center {
    font-family: BebasNeue, Sans-serif;
    font-size: 50px;
  }

  section#faq ul {
    font-family: Roboto, Sans-Serif;
  }

  /*****************************************************************
  Footer Styles
  *****************************************************************/
  body footer {
    font-family: Roboto, Sans-Serif;
    background-color: #0998C6;
  }

  body footer div.arrowDiv {
    background-color: #0998C6;
  }

  body footer div.arrowDiv img#uparrow {
    transform: rotate(180deg);
  }

  body footer ul.list-group.list-group-horizontal li.list-group-item {
    background-color: transparent;
  }

  body footer p {
    color: white;
    font-size: 15px;
  }
}
/*# sourceMappingURL=microsite_mobilephone.css.map */

/*# sourceMappingURL=microsite_mobilephone.css.map */
