
img.ggj {
	display: block;
	width: 20%;
	margin: 0 auto;
}

.logo_spacing {
	margin-bottom: 25px;
} 

section.abouteee {
	width: 80%;
}

.description {
	width: 70%;
	margin-right: 10%;
	float: left;
}

.sideLogos {
	display: block;
	float: left;
	width: 20%;
}

section.abouteee p {
	width: 100%;
}

footer p.footertext {
	line-height: 1.25 !important;
}

 .gallery div {
  	width: 20%;
 }




 @media only screen and (max-device-width: 480px) {     /* Mobile Device */


 	.abouteee {
 		width: 100%;
 	}

 	.description {
 		width: 100%;
 		margin-right: 0;
 	}

	.sideLogos {
		width: 100%;
		display: block;
		clear: both;
	}

	.sideLogos img {
		width: 30%;
		margin: 1%;

	}

	 .gallery div {
	  	width: 100%;
	  	margin-bottom: 5px;
	 }

	  .gallery div img {
	  	margin: 5px auto;
	  }

	 .staticblock {
	 	display: none;
	 }


}